<div>The application was created so that the person you trust would have access to your coordinates. The application on the smartphone sends your coordinates every hour. Each coordinate is stored for 24 hours.The developer is not responsible for the use of the application.The application is made for demonstration purposes only. </div>

<ul>
    <li>Step 1: Registration on the site.</li>
    <li>Step 2: Download the application.</li>
    <li>Step 3: Login to the application, with the registration data input.</li>
    <li>Step 4: Login to the site and add a trusted user by email. </li>
    </ul>