.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

.row{
    margin-top:40px;
    padding: 0 10px;

}

.clickable{
    cursor: pointer;   
}

agm-map{
    height: 100%;
    width: 100%;
}
.map-container {
    
    
    width: 600px;
    height: 500px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  