<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<router-outlet></router-outlet>
<div class="sect">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Latitude</th>
                        <th>Longitute</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let coordinate of coordinates;c">
                        <td>{{coordinate.date}}</td>
                        <td>{{coordinate.lat}}</td>
                        <td>{{coordinate.lon}}</td>
                        <td>
                            <button (click)="goGoogle(coordinate)" target="_blank" class="btn btn-info" style="font-size:10px ;">New tab</button>
                            <button (click)="go(coordinate)" target="_blank" class="btn btn-info" style="font-size: 10px;margin-left: 3px;">On map</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="panel panel-primary" style="height: 300px;margin-left: 10px;">
            <div class="panel-heading">
                <h3 class="panel-title" >Google maps</h3>
                
            </div>
            <agm-map [latitude]="latitude" [longitude]="longitude"  
                (mapClick)="location($event)"> 
            <agm-marker [latitude]="latitude" [longitude]="longitude"> 
            </agm-marker> 
            </agm-map> 
        </div>
</div>             