<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<router-outlet></router-outlet>
<div class="row">  
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
                <div class="pull-right">
                    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <i class="glyphicon glyphicon-filter"></i>
                    </span>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Latitude</th>
                        <th>Longitute</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let coordinate of coordinates;c">
                        <td>{{coordinate.date}}</td>
                        <td>{{coordinate.lat}}</td>
                        <td>{{coordinate.lon}}</td>
                        <td>
                            <button (click)="go(coordinate)" target="_blank" class="btn btn-info">On map</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>            