<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<router-outlet></router-outlet>

<div class="sect" >

    <button (click)="reload()" class="btn btn-info" style="margin-left: 15px; ">Update all info </button>

    
            <div class="panel panel-primary" style="margin-top: 25px;">
                <div class="panel-heading">
                    <h3 class="panel-title">My coordinates</h3>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Latitude</th>
                            <th>Longitute</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let coordinate of coordinates;c">
                            <td>{{coordinate.date}}</td>
                            <td>{{coordinate.lat}}</td>
                            <td>{{coordinate.lon}}</td>
                            <td>
                                <button (click)="goGoogle(coordinate)" target="_blank" class="btn btn-info" style="font-size: 10px; margin-top: 3px;">New tab</button>
                            
                                <button (click)="go(coordinate)" target="_blank" class="btn btn-info" style="margin-left: 3px;font-size: 10px; margin-top: 3px;">On map</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        

        <div class="panel panel-primary" style="height: 300px;margin-left: 5px; margin-right: 5px;"> 
            <div class="panel-heading">
                <h3 class="panel-title" >Google maps</h3>
            </div>
            <agm-map [latitude]="latitude" [longitude]="longitude"  
                (mapClick)="location($event)"> 
            <agm-marker [latitude]="latitude" [longitude]="longitude"> 
            </agm-marker> 
            </agm-map> 
        </div>   

        
        <div class="panel panel-primary" style=" height: 300px; margin-left: 5px;margin-right: 5px; margin-top: 50px;">
            <div class="panel-heading">
                <h3 class="panel-title" >Open street maps</h3>
            </div>

            <div class="map-container" >
                <div class="map-frame">
                <div id="map"></div>
                </div>
            </div>
        </div>
          
            

</div>

        
            
                
    

 

<div class="sect" style="margin-top: 50px;">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Trust me</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let trusted of trustedUsers;">
                    <td>{{trusted.id}}</td>
                    <td>{{trusted.email}}</td>
                    <td>
                        <button (click)="coordinateDetails(trusted.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    


    
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">I trust</h3>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let trusted of usersITrust;">
                            <td>{{trusted.id}}</td>
                            <td>{{trusted.email}}</td>
                            <td>
                                <button (click)="deleteTrustedUser(trusted.id)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
    
    <form style="margin-left: 15px;">
        <input type="text" id="email"  [(ngModel)] = "email" name="email" >
        <input type="submit" name="Add" class="btn btn-info" value="Add new" (click) = "addNewTrustedUser()">
    </form>

    
    <br>
</div>



   






  